@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "@neondatabase/neon-js/ui/tailwind";

@theme inline {
  --font-sans: "Roboto", sans-serif;
  --color-background: #1c1917;
  --color-foreground: #f9f6f0;
  --color-muted: #a1a1a1;
  --color-border: #27272a;
  --color-card: #18181b;
  /*--color-accent: #a3e635;*/
  --color-accent: #9c9fe0;
  --color-cream: #f9f6f0;
}

@layer base {
  html {
    font-family: var(--font-sans);
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  body {
    margin: 0;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /*overiding better auth colors*/
  [data-slot="skeleton"],
  .animate-pulse {
    background-color: var(--color-background) !important;
  }
}
